# Logs & Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds
dist/
build/
*.pyc
__pycache__/

# Environments
.env
.env.local
venv/
.venv/

# IDE
.vscode/
.idea/
.DS_Store

# Data/Models
*.pth
*.db
*.sqlite3
chromadb_data/
